<div class="card">
  <div class="card__img">
    <%= link_to prototype_path(prototype.id) do %>
      <%= image_tag prototype.image %>
    <% end %>
  </div>
  <div class="card__body">
    <%= link_to prototype.title, prototype_path(prototype.id), class: :card__title%>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to prototype.user.name, user_path(prototype.user), class: :card__user %>
  </div>
</div>